/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2b50aa;
  --ifm-color-primary-dark: #1c3e8e;
  --ifm-color-primary-darker: #142d6b;
  --ifm-color-primary-darkest: #0e204e;
  --ifm-color-primary-light: #4c6fc4;
  --ifm-color-primary-lighter: #7693da;
  --ifm-color-primary-lightest: #a9bdee;
  --ifm-color-primary-lightestest: #e8efff;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: "IBM Plex Sans", sans-serif;
}

:root[data-theme="dark"] {
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
  --ifm-color-primary: #ff858d;
  --ifm-color-primary-dark: #d65861;
  --ifm-color-primary-darker: #ae373f;
  --ifm-color-primary-darkest: #851f26;
  --ifm-color-primary-light: #ff9aa1;
  --ifm-color-primary-lighter: #ffa9af;
  --ifm-color-primary-lightest: #ffbabf;
  --ifm-color-primary-lightestest: #ffccd0;
}
.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4 {
  font-family: "VT323";
}

h4 {
  font-size: 1.3rem;
}

.navbar__logo > img {
  border-radius: 9999px;
}
.navbar__title {
  color: #374151;
  font-size: large;
  font-weight: 400;
  font-family: "VT323";
}

html[data-theme="dark"] .navbar__title {
  color: #d3d4d5;
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=VT323&display=swap");
/** Font for Solidity logo */
@import url("https://fonts.cdnfonts.com/css/overpass");
@import url("https://fonts.cdnfonts.com/css/overpass-mono");

.menu__link--active:not(.menu__link--sublist) {
  background: var(--ifm-color-primary-lightestest);
  color: var(--ifm-color-primary-dark);
}
html[data-theme="dark"] .menu__link--active:not(.menu__link--sublist) {
  background: var(--ifm-color-gray-800);
  color: var(--ifm-color-primary-lighter);
}

.loading-overlay-container {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: absolute; */
  top: 0;
  left: 0;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.loading-overlay {
  width: 3rem;
}

.markdown ul > li > p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link,
.theme-doc-sidebar-item-link-level-1 > .menu__link {
  font-weight: 700;
}